<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

<!--    as suggested by (for android 11 compat)-->
<!-- https://forums.garmin.com/developer/connect-iq/f/discussion/262512/android-sdk-won-t-work-with-android-11-->
<!--    <queries>-->
<!--        <package android:name="com.garmin.android.apps.connectmobile"/>-->
<!--        <package android:name="com.garmin.android.connectiq"/>-->
<!--    </queries>-->

    <application
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|mnc|colorMode|density|fontScale|fontWeightAdjustment|keyboard|layoutDirection|locale|mcc|navigation|smallestScreenSize|touchscreen|uiMode"
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="text/xml" />
            </intent-filter>

            <!-- Intent filter to VIEW GPX files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:mimeType="application/gpx+xml" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="text/xml" />
            </intent-filter>

            <!-- this is needed for apps share to (opentopo maps etc.), it doesn't provide extension, so you can't add path  -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.OPENABLE" />

                <data
                    android:mimeType="*/*"
                    android:scheme="content" />
            </intent-filter>
<!--             for google maps -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <service android:name=".WebServerService"
            android:foregroundServiceType="specialUse"
            android:exported="false">
        </service>
        <receiver android:name=".ConnectIQMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.garmin.android.connectiq.INCOMING_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>